table{
    width: 100%;
  }

.welcome
{
  font-size: 30px;
}

@media only screen and (max-width: 800px) {
    .welcome {
        font-size: 16px;
    }
    table {
        width: 100%;
        transform: translate(-50%, -50%) scale(0.6); 
        position: fixed; 
        top: 50%; 
        left: 50%; 
        margin: auto; 
        margin-top: 100px;
    }
    
    .taskcontainer {
        width: 100%; 
    }

    .mediacointainer
    {
        width: 100%;
    }

}


